*~
.svn*
*.class
private/
dist/
build/
.gradle/

*.log*
**/bin/

.classpath
.project

**/*.properties
*.versionsBackup

**/target/
!./target/
target/bin/
target/output/
target/report/
target/repository/processes/*.properties
target/repository/databases/experiments/

seage-*/**/.settings
seage-*/**/.checkstyle