*~
.svn*
*.class
private/
dist/
build/
*~
*.log*
seage.launcher/target/bin/
seage.launcher/target/output/

/seage.launcher/lib/rapidminerlib
/seage.experimenter/output
/seage.experimenter/report
/seage.experimenter/lib/rapidminerlib
/seage.misc/target/
/seage.metaheuristics/target/
/seage.aal/target/
/seage.problems/discrete/tsp/target/
/seage.experimenter/target/