*~
.svn*
*.class
private/
dist/
build/
*~
*.log*
target/bin/
target/output/
target/report/

/seage.misc/target/
/seage.metaheuristics/target/
/seage.aal/target/
/seage.problems/discrete/tsp/target/
/seage.experimenter/target/

.classpath
.project
.settings/