<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Chsqldbonfig 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeHandlers>
    <typeHandler javaType="java.util.UUID" handler="org.seage.hh.knowledgebase.db.type.UuidTypeHandler"/>
  </typeHandlers>
  <environments default="local">
    <environment id="postgres">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.postgresql.Driver"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
    <environment id="local">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:file:./output/seage.local.h2;DATABASE_TO_UPPER=false"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
      </dataSource>
    </environment>
    <environment id="test">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:file:/tmp/seage.test.h2;DATABASE_TO_UPPER=false"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
      </dataSource>
    </environment>
    <environment id="test2">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.hsqldb.jdbcDriver"/>
        <property name="url" value="jdbc:hsqldb:file:/tmp/seage.test.hyper;sql.syntax_pgs=true;check_props=true"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper class="org.seage.hh.knowledgebase.db.mapper.ExperimentMapper" />
    <mapper class="org.seage.hh.knowledgebase.db.mapper.ExperimentTaskMapper" />
    <mapper class="org.seage.hh.knowledgebase.db.mapper.SolutionMapper" />
  </mappers>
</configuration>