<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.rickq.fileindex.db.FileInfoMapper" >
	<resultMap id="fileInfoResult" type="fileInfo">
		<id property="id" column="id" />
		<result property="name" column="name"/>
		<result property="district" column="district"/>
	</resultMap>
	
	<select id="getFileInfo" resultType="fileInfo" parameterType="int" resultMap="fileInfoResult">
	    SELECT id, name, district from fileInfos WHERE id = #{id}
	</select>
	
	<insert id="insertFileInfo" parameterType="fileInfo"  keyProperty="id" useGeneratedKeys="true">
		INSERT INTO fileInfos(scanId, hashValue, filePath, dirName, fileName, fileExt, size, created, modified, owner, archived) 
        VALUES(#{scanId}, #{hashValue}, #{filePath}, #{dirName}, #{fileName}, #{fileExt}, #{size}, #{created}, #{modified}, #{owner}, #{archived}) 	    
	</insert>
	
	<update id="updateFileInfo" parameterType="fileInfo">
		UPDATE fileInfos SET name=#{name}, district =#{district} WHERE id =#{id}  	    
	</update>
	
	<delete id="deleteFileInfo" parameterType="int">
		DELETE FROM fileInfos WHERE id =#{id}  	    
	</delete>
</mapper>