<configuration>
  <variable name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd} | %d{HH:mm:ss.SSS} | %-5p | %m%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/seage-%d{yyyyMMdd-HHmmss}.log</fileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>1GB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>${HOSTNAME} | %d{HH:mm:ss.SSS} | %thread | %-5p | %-60logger{60} | %3line | %m%n</pattern>
    </encoder>
  </appender>

  <!-- additivity="false": false prevents the logger from inheriting from parents. --> 
  <logger name="org.seage" level="${LOG_LEVEL}"/>
  <logger name="org.flywaydb" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
