<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seage.hh.knowledgebase.db.mapper.ExperimentMapper" >
	<resultMap id="experimentResult" type="experiment">
		<id property="id" column="id" />
		<result property="startDate" column="start_date"/>
		<result property="duration" column="duration"/>
		<result property="experimentType" column="experiment_type"/>
		<result property="hostname" column="hostname"/>
		<result property="config" column="config"/>
	</resultMap>
	
	<!-- <select id="getExperiment" resultType="experiment" parameterType="int" resultMap="experimentResult">
	    SELECT id, start_date, duration, experiment_type, hostname FROM experiments WHERE id = #{id}
	</select> -->

	<!-- <select id="getExperimentCount" resultType="int">
		SELECT COUNT(id) FROM experiments
 </select>

 <select id="getMaxExperimentId" resultType="int">
	SELECT MAX(id) FROM experiments
</select>
	 -->
	<insert id="insertExperiment" parameterType="experiment" useGeneratedKeys="true" keyProperty="id">
		INSERT into seage.experiments(start_date, duration, experiment_type, hostname, config) VALUES(#{duration}, #{startDate}, #{experimentType}, #{hostname}, #{config}) 	    
	</insert>
	<!-- 
	<update id="updateFileInfo" parameterType="fileInfo">
		UPDATE fileInfos SET name=#{name}, district =#{district} WHERE id =#{id}  	    
	</update>
	
	<delete id="deleteFileInfo" parameterType="int">
		DELETE FROM fileInfos WHERE id =#{id}  	    
	</delete>
     -->
</mapper>