<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seage.hh.knowledgebase.db.mapper.ExperimentTaskMapper" >
	<resultMap id="experimentTaskResult" type="experimentTask">
		<id property="id" column="id" />
		<result property="name" column="name"/>
		<result property="district" column="district"/>
	</resultMap>
	
	<select id="getExperimentTask" resultType="experimentTask" parameterType="int" resultMap="experimentTaskResult">
	    SELECT id, name, district from experimentTasks WHERE id = #{id}
	</select>
	
	<insert id="insertExperimentTask" parameterType="experimentTask"  keyProperty="id" useGeneratedKeys="true">
		INSERT INTO experimentTasks(scanId, hashValue, filePath, dirName, fileName, fileExt, size, created, modified, owner, archived) 
        VALUES(#{scanId}, #{hashValue}, #{filePath}, #{dirName}, #{fileName}, #{fileExt}, #{size}, #{created}, #{modified}, #{owner}, #{archived}) 	    
	</insert>
	
	<update id="updateExperimentTask" parameterType="experimentTask">
		UPDATE experimentTasks SET name=#{name}, district =#{district} WHERE id =#{id}  	    
	</update>
	
	<delete id="deleteExperimentTask" parameterType="int">
		DELETE FROM experimentTasks WHERE id =#{id}  	    
	</delete>
</mapper>