<?xml version="1.0" encoding="UTF-8"?>

<config  xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
   xmlns='http://xml.seage.org/schema'
   xsi:schemaLocation='http://xml.seage.org/schema config.xsd'>

    <problem problemName="tsp" runAlgorithm="algTabuSearch">
        <instance name="eil51" path="data/eil51.tsp"></instance>
        <visualizer outPath="eil51.png" width="800" height="600"/>
    </problem>

    <algGeneticAlgorithm
        numSolution="100"
        iterationCount="100"
        crossLengthPct="40"
        eliteSubjectPct="10"
        mutateSubjectPct="5"
        mutateLengthPct="20"
        randomSubjectPct="5"/>

    <algTabuSearch
        numIteration="1000"
        tabuListLength="130"
        numSolution="1"
	numIterDivers="1"/>

    <algSimulatedAnnealing 
        maxTemperature="1"
        minTemperature="1"
        annealCoeficient="1"
        maxInnerIterations="1"
        numInnerSuccesses="1"/>
</config>
